<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AcessoBancoDados.Properties.Settings.StringConexao"
            connectionString="Data Source=.\SQLExpress;Initial Catalog=TeldeClientes;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>