USE [master]
GO
/****** Object:  Database [dbdsII]    Script Date: 02/22/2017 09:17:09 ******/
CREATE DATABASE [dbdsII] ON  PRIMARY 
( NAME = N'dbdsII', FILENAME = N'c:\Arquivos de programas\Microsoft SQL Server\MSSQL10.SQLEXPRESS\MSSQL\DATA\dbdsII.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'dbdsII_log', FILENAME = N'c:\Arquivos de programas\Microsoft SQL Server\MSSQL10.SQLEXPRESS\MSSQL\DATA\dbdsII_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [dbdsII].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [dbdsII]
GO
/****** Object:  Table [dbo].[tblClientes]    Script Date: 02/22/2017 09:17:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblClientes](
	[CodCliente] [int] IDENTITY(1,1) NOT NULL,
	[nome] [varchar](40) NOT NULL,
	[CPF] [varchar](11) NOT NULL,
	[DtNasc] [datetime] NOT NULL,
 CONSTRAINT [PK_tblClientes] PRIMARY KEY CLUSTERED 
(
	[CodCliente] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE NONCLUSTERED INDEX [IX_tblClientes_1] ON [dbo].[tblClientes] 
(
	[CodCliente] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TbltipoTelefone]    Script Date: 02/22/2017 09:17:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TbltipoTelefone](
	[CodtipoTelefone] [int] IDENTITY(1,1) NOT NULL,
	[descricao] [varchar](15) NOT NULL,
 CONSTRAINT [PK_TbltipoTelefone] PRIMARY KEY CLUSTERED 
(
	[CodtipoTelefone] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TblTelefone]    Script Date: 02/22/2017 09:17:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TblTelefone](
	[CodTelefone] [int] IDENTITY(1,1) NOT NULL,
	[CodCliente] [int] NOT NULL,
	[CodTipoTelefone] [int] NOT NULL,
	[numero] [varchar](15) NOT NULL,
 CONSTRAINT [PK_TblTelefone] PRIMARY KEY CLUSTERED 
(
	[CodTelefone] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  ForeignKey [FK_TblTelefone_tblClientes]    Script Date: 02/22/2017 09:17:10 ******/
ALTER TABLE [dbo].[TblTelefone]  WITH CHECK ADD  CONSTRAINT [FK_TblTelefone_tblClientes] FOREIGN KEY([CodCliente])
REFERENCES [dbo].[tblClientes] ([CodCliente])
GO
ALTER TABLE [dbo].[TblTelefone] CHECK CONSTRAINT [FK_TblTelefone_tblClientes]
GO
/****** Object:  ForeignKey [FK_TblTelefone_TbltipoTelefone]    Script Date: 02/22/2017 09:17:10 ******/
ALTER TABLE [dbo].[TblTelefone]  WITH CHECK ADD  CONSTRAINT [FK_TblTelefone_TbltipoTelefone] FOREIGN KEY([CodTipoTelefone])
REFERENCES [dbo].[TbltipoTelefone] ([CodtipoTelefone])
GO
ALTER TABLE [dbo].[TblTelefone] CHECK CONSTRAINT [FK_TblTelefone_TbltipoTelefone]
GO
