<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AcessoBancoDados.Properties.Settings.conectaSQLServer"
            connectionString="Data Source=LEONARDO-WIN;Initial Catalog=DBDS2;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>